/SQS/TestAWSSQS/.vs
/SQS/TestAWSSQS/packages
/SQS/TestAWSSQS/TestAWSSQS/obj
/SQS/TestAWSSQS/TestAWSSQS/bin
/SQS/myapp/.vscode
/SQS/myapp/.settings
/SQS/myapp/target
/SNS/SNSPublisherCS/packages
/SNS/SNSPublisherCS/.vs
/SNS/SNSPublisherCS/SNSPublisherCS/obj
/SNS/SNSPublisherCS/SNSPublisherCS/bin
